<!DOCTYPE html>
<html lang="en" ng-app="reminder">
<head>
  <meta charset="UTF-8">
  <title>icloud</title>
  <link rel="stylesheet" href="css/index.css">
</head>
<body ng-controller="mainCtrl">
<!-- 左边 -->
<div id="contanier">
  <div class="remind-left">
    <div class="title">
      <div class="logo"></div>
      <div class="tip">提醒事项</div>
      <div class="jiantou"></div>
      <div class="add" ng-click="addItem()"></div>
    </div>
    <ul class="lists">
      <li class="plan">
        <div class="clock clock1"></div>
        <div class="font">已计划</div>
      </li>
      <li class="plan item" ng-repeat="(k,v) in todos" ng-click="current($index)">
        <div class="clock {{v.color}}"></div>
        <input type="text" value="{{v.title}}" ng-model="v.title"  ng-model = "v.title" ng-blur="saveData()">
        <div class="wifi"></div>
      </li>
    </ul>
  </div>


  <div class="remind-right">
     <div class="details-title">
        <span class="search"></span>
        <input type="text" name="name" value="">
        <span class="wenhao"></span>
        <span class="shu">|</span>
     </div>
     <div class="topic">
        <div class="topic-l {{cur.color}}">{{cur.title}}</div>
        <input type="checkbox" id="option">
        <div class="select">
            <div class="select-small">
               <div class="xiaosanjiao"></div>
               <div class="select-content">
						      <input type="text" ng-model="cur.title" value="cur.title">
						      <span class="colorlist_word">列表颜色</span>
                  <div class="colorlist">
                    <span class="color_circle green" ng-click="setColor($index)"></span>
                    <span class="color_circle purple"></span>
                    <span class="color_circle red"></span>
                    <span class="color_circle orange"></span>
                    <span class="color_circle yellow"></span>
                    <span class="color_circle blue"></span>
                  </div>
              </div>
              <div class="caozuo">
               <span id="delete" ng-click="deleteList($index)">删除</span>
               <span id="finsh" ng-click="finsh()">完成</span>
               <span id="cancel">取消</span>
             </div>
           </div>
        </div>
        <label for="option"><div class="topic-r {{cur.color}}">选项</div></label>

     <ul class="done">
       <li class="done_title">
         <div class="done-icon"></div>
         <div class="done-l">已完成：<span>{{num()}}</span>项</div>
         <div class="done-r" ng-click="clear($index)">清除已完成事项</div>
       </li>
       <li class="done_title time">
         <span>2016年6月4号星期六</span>
       </li>
       <li class="done_title"  ng-repeat="(k,v) in cur.item" ng-show="v.state" ng-click = "saveData()">
         <div class="shi_circle {{cur.color}}-shi"  ng-click="v.state=!v.state"></div>
         <input type="text" name="name" value="{{v.content}}" ng-model = "v.content" ng-blur="saveData()">
         <div class="topic-r {{cur.color}}"  ng-click="deleItem($index)">删除</div>
       </li>
       <li class="done_title time">
          <div class="font">未完成</div>
       </li>
       <li class="done_title"  ng-repeat="v in cur.item" ng-show="!v.state"  ng-click = "saveData()">
         <div class="shi_circle {{cur.color}}-kong" ng-click="v.state=!v.state"></div>
         <input type="text" name="name" value="{{v.content}}" ng-model="v.content" ng-blur="saveData()">
         <div class="topic-r {{cur.color}}" ng-click="deleItem($index)">删除</div>
       </li>
       <li class="done_title">
         <div class="font" ng-click="add($index)">新条目</div>
       </li>
     </ul>
  </div>
</div>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="js/index.js"></script>
</body>
</html>
